@font-face {
    font-family: 'alexBrush-Regular';
    src: url('../polices/alex-brush/AlexBrush-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

/*Fond de page*/
body{
    background-image: url('../images/texture3.jpg');
    background-attachment:scroll;
}

/*Titre principal*/
header h1{
    text-align: center;
    color: #5e0c0c;
    font-family: 'alexBrush-Regular';
    font-size: 6em;
    text-decoration: overline;
    text-shadow: 3px 3px 3px white;
}

/*Menu*/
nav ul{
    list-style-type: none;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    background-color: white;
    padding: 3px;
    border:solid black;
}

nav ul li a{
    color: #5e0c0c;
    font-family: 'alexBrush-Regular';
    font-size:3em;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    text-decoration: underline;
}

/*Accueil*/
    /*Image de la page d'accueil*/
    #entrée img{
        text-align: center;
        width: 100%;
    }

    /*Texte de la page d'accueil*/
    #entrée p{
        font-size: 2em;
        color:black;
        text-align: center;
    }

/*Domaine*/  
    /*Bandeaux*/
    .bandeauDomaine{
        position: relative;
        height: 230px;
    }
    /*Images*/
    .bandeauDomaine img{
        position: absolute;
        width: 100%;
    }

    /*Titres*/
    .bandeauDomaine h2{
        position: absolute;
        right: 20px;
        top: 70px;
        color: rgba(255, 255, 255, 0.771);
        text-shadow: 2px 2px 2px black;
        font-size: 2em;
        font-family:'Times New Roman', Times, serif;
    }

    /*Paragraphe*/
    #domaine p{
        position: static;
        font-size: 1.3em;
        background-color: rgba(255, 255, 255, 0.273);
    }

/*Vins*/
    /*Image bouteille*/
    .photoBouteille img{
        text-align: center;
        width: 100%;
        border: solid black;
        background-color: rgba(255, 255, 255, 0.724);
    }

    .descriptionBouteille{
        text-align: center;
        background-color: rgba(255, 255, 255, 0.724);
        border: thick double black;
        font-size: 1.5em;
        color: #5e0c0c;
        font-family: 'Amatic SC', cursive;
        font-weight: 700;
    }

/*Contact*/